.toggle{
    display: flex;
    justify-content:space-between;
    border: 3px solid  #ff2121;
    border-radius: 1rem;
    position: relative;
    padding: 2px;
    cursor: pointer;

}
.toggle>*{
    width: 0.9rem;
    height: 0.8rem;
    color: #ff2121;
}
.t-button{
    border-radius: 100%;
    background: var(--orange);
    position: absolute;
}
